<html>
  <style>
    body {
        font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
        margin: 0;
        background-color: #eeeeee;
    }
    .content {
        width: 600px;
        margin: 0 auto;
    }
  </style>

  {{template "css/header.tmpl" . }}

  {{template "css/search.tmpl" . }}

  <style>
    .links {
      background-color: #FFFFFF;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .link {
      display: flex;
      justify-content: space-between;
      padding: 8px;
      border-radius: 2px;
    }
    .link > div {
      width: 400px;
      text-align: center;
      overflow: hidden;
    }
    .link:not(:last-of-type) {
      border-bottom: 1px solid #EEEEEE;
    }
    .link a:last-of-type {
        margin-left: 8px;
    }
  </style>

  {{template "css/link-create-form.tmpl" . }}

  <div class="content">

  {{ template "header.tmpl" . }}

  {{ template "search.tmpl" . }}

  <section class="links">
    {{range .links}}
      <div class="link">
        <div>
          <b>
            {{.Name}}
          </b>
        </div>
        <span>
          →
        </span>
        <div title="{{.Redirect}}">
          <a href="{{.Redirect}}">
            {{.Redirect}}
          </a>
        </div>

        <a href="/link/one/{{.Name}}">
          <input name="" type="button" value="Edit"/>
        </a>
        <a href="/link/delete/{{.Name}}">
          <input name="" type="button" value="Delete"/>
        </a>
      </div>
    {{end}}
  </section>

  {{ template "link-create-form.tmpl" . }}

  </div>
</html>
