<html>
  <style>
    body {
        font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
        margin: 0;
        background-color: #eeeeee;
    }
    .content {
        width: 600px;
        margin: 0 auto;
    }
  </style>
  {{ template "css/header.tmpl"}}
  {{ template "css/link-create-form.tmpl"}}

  <div class="content">

  {{ template "header.tmpl" . }}

  {{ template "link-create-form.tmpl" . }}

  </div>
</html>
