{{ define "search.tmpl" }}
<section class="form-container search">
    <form action="/link/all" method="GET">
        <div>
            <p>
                <input name="Search" type="text" value="" />
            </p>
        </div>
        <input type="submit" value="Search" />
    </form>
</section>
{{ end }}